body{
	background-color: "cyan";
}
.box {
  display: inline-block;
  vertical-align: 
  width: 500px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
.vert{
  height: 300px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

